@font-face {
    font-family: Cyberbunny;
    src: url(../fonts/cyberbunny/CyberBunny.ttf);
}

@font-face {
    font-family: glitchy;
    src: url(../fonts/glitchy/GlitchyDemoRegular.ttf);
}

body {
    background: url("../images/background.jpg") center fixed no-repeat;
    background-color: rgb(193, 198, 200);
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #3f3f3fad;
    border-radius: 1rem;
    margin: 5em;
    margin-top: 3em;
}
.title {
    text-align: center;
    color: rgb(171, 209, 242);
    font-family: glitchy;
    font-size: xxx-large;
}

.title-card-div{
    display: flex;
    justify-content: space-evenly;
}
.title-card1 {
    border-radius: 0.5em;
    text-align: center;
    background-color: #a24cafbe;
    padding: 0.5em;
    color: azure;
    font-family: glitchy;
    font-size:x-large
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5em 0.5em 1em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 11px 16px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encrypt {
    padding: 1em;
    margin: 1em 0.2em 1em 0;
    flex-basis: 40%;
    height: 100%;
    background: rgb(171, 209, 242, 0.6);
    border-radius: 1rem;
    width: -webkit-fill-available;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.decrypt {
    padding: 1em;
    margin: 1em 0.2em 1em 0;
    flex-basis: 40%;
    height: 100%;
    background: rgb(171, 209, 242, 0.6);
    border-radius: 1rem;
    width: -webkit-fill-available;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    flex-basis: 80%;
    height: 50%;
    width: 50%;
    resize: none;
    margin: 10px 5px 10px 5px;
    border: none;
    background-color: aliceblue;
}

.input {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid gray inset;
    padding: 2px;
    margin-bottom: 1em;
}

input:focus {
    outline: none;
}

button {
    background-color: #a24caf;
    box-shadow: 1px 0px 7px 3px rgba(239, 194, 255, 0.79);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width: 426px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .encrypt,
    .decrypt {
        margin: 1em 0;
    }

    .container {
        margin: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .input {
        background-color: rgb(43, 65, 100);

        color: rgb(251, 249, 249);
    }

    input {
        background-color: rgb(43, 65, 100);

        color: rgb(251, 249, 249);
    }

    button {
        color: darkgray;
    }

    body {
        background: url("../images/background-dark.jpg") center fixed no-repeat;
        background-size: cover;
    }

    .encrypt,
    .decrypt {
        background: rgb(171, 209, 242, 0.9);
    }

    .title-card1 {
        color: rgb(37, 57, 90);
    }
}
