html,
body {
    background: url('../images/background.jpg') center fixed no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* opacity: 1; */
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-content: stretch; */
    margin: .5em .5em 1em .5em;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 11px 16px;
    border-radius: 5px;
    /* height: 50%; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* border: 1px solid blue; */
    /* align-content: space-between; */
    /* opacity: .5; */
}

.encrypt {
    padding: 1em;
    margin: 1em 0 1em 0;
    /* box-shadow: rgba(0, 0, 0, 0.315) 0px 3px 8px; */
    /* width: 40%; */
    flex-basis: 40%;
    /* flex-grow: .3; */
    height: 100%;
    background: rgb(171, 209, 242, 0.6);
    /* border-radius: 5px; */
}

.decrypt {
    padding: 1em;
    margin: 1em 0 1em 0;
    /* flex-grow: .45; */
    /* width: 40%; */
    flex-basis: 40%;
    background: rgb(171, 209, 242, 0.6);
}

textarea {
    flex-basis: 80%;
    height: 50%;
    width: 50%;
    resize: none;
    margin: 10px 5px 10px 5px;
    border: none;
    background-color: transparent;
}

.input {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid gray inset;
    padding: 2px;
}

button {
    background-color: #a24caf;
    box-shadow: 1px 0px 7px 3px rgba(239, 194, 255, 0.79);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .input {
        background-color: rgb(43, 65, 100);
        color: darkgray;
    }

    button {
        color: darkgray;
    }

    html {
        color: rgb(255, 255, 255, 1);
        filter: brightness(60%);
    }

    .encrypt,
    .decrypt {
        background: rgb(171, 209, 242, 0.9);
        /* filter: brightness(100%) !important; */
    }
}